* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	margin: 0;
}

.row {
	width: 100vw;
	min-width: 27em;
}

.col-12 {
	width: 100vw;
}

.col-8 {
	width: calc(200vw/3);
}

.col-6 {
	width: 50vw;
}

.col-4 {
	width: calc(100vw/3);
}

.content {
	background-color: #526070;
	background: linear-gradient(275deg, #526070, #6f859e);
}

.btn {
	border-radius: 0.5em;
	border: 0;
}

.top {
	display: flex;
	text-align: center;
}

.close {
	border-radius: 40%;
	padding: 0.5em 1em;
	background-color: darkred;
	color: aliceblue;
}

.tag {
	display: flex;
}

.tag div {
	display: flex;
	flex-direction: column;
}

.more {
	background-color: forestgreen;
	color: aliceblue;
}

.form-submit .btn {
	padding: 1em;
	border: 0;
	background-color: aquamarine;
}

.footer {
	display: none;
}

#view-links {
	background-color: #2a313d;
	color: white;
}
